{% extends 'base.html' %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block extra_css %}{% endblock %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">


{% block content %}
<div class="login-form-container">
    <h2>Вход</h2>
    <form method="POST" class="login-form">
        {% csrf_token %}
        
        <label for="id_username">Имя пользователя</label>
        <input type="text" id="id_username" name="username" required>

        <label for="id_password">Пароль</label>
        <input type="password" id="id_password" name="password" required>

        <button type="submit">Войти</button>
    </form>
</div>
{% endblock %}
