{% extends 'base.html' %}
{% load static %}

{% block title %}профиль{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
</head>
<body>
    <div class="profile">
        <img src="https://via.placeholder.com/150" alt="Фото профиля" class="profile-pic">
        <div class="profile-name">{{ full_name|default:username }}</div>
    </div>
</body>
</html>

{% endblock %}